<head>
    <meta charset="UTF-8">
    <title>CarFax</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/front#">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/print#">View Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#">Add A Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/search#">Search For A Car</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
        <br>
        <br>
    <form method = "POST">
        <div class="container">
            <div class="searchStyle">
                <select name="type" id="type">
                    <option>Select sorting category</option>
                    <option type = 'mpg'>mpg</option>
                    <option type = 'mileage'>mileage</option>
                    <option type = 'Brand'>Brand</option>
                </select>
                <input name="searched" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                    <p><input type="submit"></p>
                </span>
            </div>
        </div>
    </form>
    <!-- <form id="searchForm">
        <div class="container">
            <div class="searchStyle">
                <select id="searchType" required>
                    <option>Select sorting category</option>
                    <option value="mpg"> mpg </option>
                    <option value="mileage"> mileage </option>
                    <option value="Brand"> Brand </option>
                </select>
                <input id="searchValue" required>
                <input type="submit" value="Search" name="btn">
            </div>
        </div>
    </form> -->
    <div>
        {{Searched}}
        {% if Searched is defined%}
        {% if Searched[0]|length > 2%}
        <div class="container-fluid">
            <div class="row">
                {% for i in range(Searched| length) %}
                <div class="col-lg-2 col-md-3 col-6" style="margin-bottom:10px;">
                    <div class="card card-default">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/' + Searched[i]['Brand'] + '_logo.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{Searched[i]['Brand']}}</h5>
                            <p class="card-text">Owner: {{Searched[i]['Name']}}</p>
                            <p class="card-text">Mpg: {{Searched[i]['mpg']}}</p>
                            <p class="card-text">Mileage: {{Searched[i]['mileage']}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Added at this time</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
</html>